<!Doctype html>
<head>
    <title>SiMSAM</title>

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/samlite.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/iphone-style-checkboxes.css">
</head>


<body>

<div class="header">
    </div>
	<form id="login" action="login/" method="post">
		username:
		<input type="text" name="username" value="{{ username }}" /><br />
		password:
		<input type="password" name="password" value="" /><br />

		<input id="loginbutton" type="submit" value="Log In" />
	</form>

</body>
</html>
