<!Doctype html>
<html lang="en">
<head>
	<title>SAM</title>
        <meta charset="UTF-8" />
      
	<link rel="stylesheet" href="{{ STATIC_URL }}css/samlite.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
	<script src="http://kineticjs.com/download/v4.0.5/kinetic-v4.0.5.js"></script>

	<script src="{{ STATIC_URL }}js/jquery.js"></script>
    	<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
	<script src="{{ STATIC_URL }}js/samlite.js"></script>


</head>

<body>
	<div class="header"> 
		<h1 class="greeting">hello {{ user.username }}</h1>
		<div id="logout"> 
		<form action="logout/" method="post">
    			<input id="logoutbutton" type="submit" value="Logout" />
		</form>
		</div>
	</div>
        <h2>Project: {{ project.name }}</h2>

	<h3>Animations</h3>


	{% if animList %}	
	<form method="post" name="myForm" action="chooseanim">
		{% for anim in animList %}
		  <input type="radio" name="animId" value="{{ anim.id }}" onClick=0 />{{ anim.name }}<br>
		{% endfor %}
 		<input type="hidden" name="projectId" id="projectId" value="{{ project.id }}" />
		<input type="submit" value="Open Animation" />
	</form>
	{% endif %}
        <p>Press the Back Button to return to your previous animation or make a new one.</p>
	


</body>

</html>
