<!Doctype html>
<html lang="en">
<head>
	<title>SAM</title>
        <meta charset="UTF-8" />
      
	<link rel="stylesheet" href="{{ STATIC_URL }}css/samlite.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">


</head>

<body>
	<div class="header"> 
		<h1 class="greeting">hello {{ user.username }}</h1>
		<div id="logout"> 
		<form action="logout/" method="post">
    			<input id="logoutbutton" type="submit" value="Logout" />
		</form>
		</div>
	</div>

	<h3>Projects</h3>
	<form action="chooseproject/" method="post">
		{% for project in projectList %}
		  <input type="radio" name="projectName" value="{{ project.name }}" />{{ project.name }}<br>
		{% endfor %}
		<input type="submit" value="Open Project" />
	</form>


</body>

</html>
