<!Doctype html>
<html lang="en">
<head>
	<title>SAM</title>
        <meta charset="UTF-8" />
      
	<link rel="stylesheet" href="{{ STATIC_URL }}css/samlite.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
	<script src="http://kineticjs.com/download/v4.0.5/kinetic-v4.0.5.js"></script>

	<script src="{{ STATIC_URL }}js/jquery.js"></script>
    	<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
	<script src="{{ STATIC_URL }}js/samlite.js"></script>


</head>

<body>

{% if user.is_authenticated %}
	<div class="header"> 
		<h1 class="greeting">hello {{ user.username }}</h1>
		<div id="logout"> 
		<form action="logout/" method="post">
    			<input id="logoutbutton" type="submit" value="Logout" />
		</form>
		</div>
	</div>

	<form class="chooseproject" action="openproject" method="post">
		<input type="submit" value="Open Project" />
    	</form>

    	<form class="chooseproject" action="make_project" method="post">
        	New Project Name: <input type="text" name="projectName" />
		<input type="submit" value="Make New Project" />
    	</form>
{% else %}
	<p>Error: Please Login</p>
{% endif %}


</body>

</html>
