<!Doctype html>
<html lang="en">
<head>
    <title>Sam Lite</title>
    <meta charset="UTF-8" />
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/html5sortable.js"></script>
    <script src="{{ STATIC_URL }}js/iphone-style-checkboxes.js"></script>
    <script src="{{ STATIC_URL }}js/html5support.js"></script>
    <script src="http://kineticjs.com/download/v4.0.5/kinetic-v4.0.5.js"></script>
    <script src="http://html5demos.com/h5utils.js"></script>
    <script src="{{ STATIC_URL }}js/simlite.js"></script>
    <script src="{{ STATIC_URL }}js/samlite.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/samlite.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/iphone-style-checkboxes.css">

    <style>
	#drop {
	  min-height: 100px;
	  width: 200px;
	  border: 3px dashed #ccc;
	  margin: 10px;
	  padding: 10px;
	  clear: left;
	}
	p {
	  margin: 3px 0;
	}
	#remy {
	  background: url(http://twitter.com/api/users/profile_image/rem) no-repeat;
	}
	#brucel {
	  background: url(http://twitter.com/api/users/profile_image/brucel) no-repeat;
	}
   	.drag {
	  height: 48px;
	  width: 48px;
	  float: left;
	  -khtml-user-drag: element;
	  margin: 10px;
	}
    </style>
    
</head>
<body class="unselectable">
    <div id="main_container" class="float_container">
        <div id="video_container" class="float">
            <div id="playback_container"></div>
            <video id="camera" class="main-video"></video>
        </div>
        <div id="controls_container" class="float">
            <div>
                Webcam:&nbsp;
                <input type="checkbox" id="camera_onoff" checked>
            </div>
            <div>
                <button id="shoot_button"></button>
            </div>
            <div id="play_control_buttons">
                <span id="beginning_button" class="play_control_button"></span>
                <span id="frame_back_button" class="play_control_button"></span>
                <span id="play_button" class="play_control_button"></span>
                <span id="pause_button" class="play_control_button"></span>
                <span id="frame_forward_button" class="play_control_button"></span>
                <span id="end_button" class="play_control_button"></span>
            </div>
            <div id="slider_container">
                <div>
                    Slow
                    &nbsp;&nbsp;
                    Medium
                    &nbsp;&nbsp;
                    Quick
                    &nbsp;&nbsp;&nbsp;
                    Fast
                </div>
                <div id="fps_slider"></div>
                <input type="hidden" id="fps" value="10">
            </div>
            <div id="trash"></div>
	    <div class="contr">
	      <button onclick="cropCanvas()">Start Cropping</button>
	      <button onclick="getResults()">Save Crop</button>
	      <button onclick="deleteRect()">Cancel Crop</button>
            </div>
	    	<div id="results">
	    		<img id="crop_result" />
		</div>

	    <div id="simbutton" class="contr">
		<button onclick="startSimlite()">Go To SiMLite</button>
	    </div>

            <div style="display:none">
                playback index:
                <input type="text" id="playback_index">
            </div>
        </div>
        <div id="sprite_container">
        </div>
    </div>

    <div id="container"></div>
    <div id="output"></div>
	
    <h3>Cropped Images</h3>
    <div id="crop_output">
    </div>
    <h3>Webcam Images</h3>
    <div id="video_output"></div>
    
    
    <div id="sambutton">
	<button onclick="startSamlite()">Go To SAMLite</button>
    </div>

</body>
</html>
