<!Doctype html>
<html lang="en">
<head>
    <title>Sam Lite</title>
    <meta charset="UTF-8" />
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/html5sortable.js"></script>
    <script src="{{ STATIC_URL }}js/iphone-style-checkboxes.js"></script>
    <script src="{{ STATIC_URL }}js/html5support.js"></script>
    <script src="http://kineticjs.com/download/v4.0.5/kinetic-v4.0.5.js"></script>
    <script src="http://html5demos.com/h5utils.js"></script>
    <script src="{{ STATIC_URL }}js/simlite.js"></script>
    <script src="{{ STATIC_URL }}js/cropTool.js"></script>
    <script src="{{ STATIC_URL }}js/samlite.js"></script>
    

    <link rel="stylesheet" href="{{ STATIC_URL }}css/samlite.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/iphone-style-checkboxes.css">
    
</head>
<body class="unselectable">
<!-- only display this if the user is logged in -->
{% if user.is_authenticated %}
    <h1>{{ frame_registry }}</h1>
    <div class="header"> 
	<h1 class="greeting">hello {{ user.username }}</h1>
	<div id="logout"> 
	<form action="logout/" method="post">
    		<input id="logoutbutton" type="submit" value="Logout" />
   		<input type="button" value="Switch To SAM" class="switchbutton" id="sambutton"></input>
		<input type="button" value="Switch to SiM" class="switchbutton" id="simbutton"></input>
    	</form>
        
        </div>
        
    </div>
	<!-- Would you like to open a project or create a new one?
	<button onclick="openproject(user)">Open Project</button>
	<button onclick="newproject()">New Project</button> -->
	<!-- <script>
		setproj = false;
		var newproj = true;
		function openproject() { newproj = false; setproj = false; }
		function newproject() { newproj = true; setproj = false; }
		Response.redirect("/samlite")
	</script>
	{% if newproj %}
		<h3>Hello! Let's create a new project!</h3>
	{% endif %} -->
	
    <!-- list projects
    <h3>Projects:</h3>
    {% for project in projectList %}
       <p>{{ project.name }}</p>
       {% for anim in animations %}
           {% if anim.project == project %}
               <p>{{ anim }}</p>
           {% endif %}
       {% endfor %}
     
    {% endfor %} -->

    
    <!-- may want to add Save As button or Save button later -->
    <!-- <div id="save">
	<form action="save_project/" method="post">
		Save Project As:
		<input type="text" name="project_name" value="{{ project_name }}" />
		<input type="submit" value="Save Project" />
        </form>
    </div>
    <div id="save animation">
	{{ frame_registry }}
	<form action="save_anim/" method="post">
		Save Animation As:
		<input type="text" name="anim_name" value="{{ anim_name }}" />
		Project Name:
		<input type="text" name="project_name" value="{{ project_name }}" />
		<input type="submit" value="Save Animation" />
	</form>
    </div> -->
    <br />
   
    <div id="main_container" class="float_container">
 	

        <div id="video_container" class="float">
            <div id="playback_container"></div>
            <video id="camera" class="main-video"></video>
        </div>
        <div id="controls_container" class="float">
            <div>
                Webcam:&nbsp;
                <input type="checkbox" id="camera_onoff" checked>
            </div>
            <div>
                <button id="shoot_button"></button>
            </div>
            <div id="play_control_buttons">
                <span id="beginning_button" class="play_control_button"></span>
                <span id="frame_back_button" class="play_control_button"></span>
                <span id="play_button" class="play_control_button"></span>
                <span id="pause_button" class="play_control_button"></span>
                <span id="frame_forward_button" class="play_control_button"></span>
                <span id="end_button" class="play_control_button"></span>
            </div>
            <div id="slider_container">
                <div>
                    Slow
                    &nbsp;&nbsp;
                    Medium
                    &nbsp;&nbsp;
                    Quick
                    &nbsp;&nbsp;&nbsp;
                    Fast
                </div>
                <div id="fps_slider"></div>
                <input type="hidden" id="fps" value="10">
            </div>
            <div id="trash"></div>
	    
	    	<!-- <div id="results">
	    		<img id="crop_result" />
		</div> -->

            <div style="display:none">
                playback index:
                <input type="text" id="playback_index">
            </div>
        </div>
        <div id="sprite_container">
        </div>
    </div>

    <div id="container"></div>
    <div id="output"></div>

    <div id="crop_buttons">
        <button id="startcropping" onclick="cropCanvas()">Start Cropping</button>
	<button id="savecrop" onclick="getResults()">Save Crop</button>
	<button id="cancelcrop" onclick="deleteRect()">Cancel Crop</button>
    </div>
	
   

    <h3>Cropped Images - Sprites</h3>
    <div id="crop_output"></div>
    <h3>Webcam Images - Animation Timeline</h3>
    <div id="video_output"></div>
    
    
    


    <!-- login form, displayed when user is not logged in -->
{% else %}
    <div class="header">
        {{ state }}
       <!--  <h1 class="greeting">Login</h1> -->
    </div>
	<form id="login" action="login/" method="post">
                <!-- <h2>Login</h2> -->
		username:
		<input type="text" name="username" value="{{ username }}" /><br />
		password:
		<input type="password" name="password" value="" /><br />

		<input id="loginbutton" type="submit" value="Log In" />
	</form>
{% endif %}

</body>
</html>
