# unknown purpose
*.log
*.pot
local_settings.py

# for compiled python byte-code
*.pyc

# for vim (a text editor)
*.*~

# for osx
simsam/.DS_Store
samlite/.DS_Store
.DS_Store

# for sublime text 2 (a text editor)
*.sublime-project
*.sublime-workspace


media/sam_frames/.gitignore

media/sprites/.gitignore

media/sprites/.gitignore

media/sprites/.gitignore

media/sam_frames/.gitignore

simsam_app/js/sprite.js

.gitignore
