<!Doctype html>
<html>
    <head>
        <title>Playing with Sprites</title>
        <!--<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.4.2.min.js"></script>-->
        <script src="{{ STATIC_URL }}js/kinetic.js"></script>
        <script src="{{ STATIC_URL }}js/sprite.js"></script>
    </head>
    <body>
        <div id="container"></div>
        <script defer="defer">
            var stage = new Kinetic.Stage({
                container: 'container',
                width: 578,
                height: 200
            });
            var layer = new Kinetic.Layer();
            init();
        </script>
        <button onclick="window.interval=setInterval(tick,500);">go</button>
        <button onclick="clearInterval(interval);">stop</button>
    </body>
</html>
