.wrapper {
	padding: 3px;
	height: auto;
	width: 745px;
}

.window {
	font-size: xx-large;
	text-align: center;
	height: 100%;
	width: 100%;
}


input, button {
	color: #23374b;
	border-style: solid;
	border-color: #62c004;
	border-width: 2px;
	font-size: medium;
	font-family: "Averia Sans Libre", sans-serif;
	border-radius: 15px;
	padding: 8px;
	-webkit-box-shadow: inset 3px 3px 3px 0px #ddd;
    -moz-box-shadow: inset 3px 3px 3px 0px #ddd;
    box-shadow: inset 3px 3px 3px 0px #ddd;
    margin: 2px;
}

#formcol {
	display: inline-block;
	font-size: small;
}

.button {
	border-style: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.button:hover {
	border-style: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    background-color: #62c004;
}

#error {
    color: red;
    font-size: small;
    text-align: center;
}

.projects {
    font-size: x-large;
    color: #62c004;
}