
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Sans Libre Regular'), local('AveriaSansLibre-Regular'), url(http://themes.googleusercontent.com/static/fonts/averiasanslibre/v2/yRJpjT39KxACO9F31mj_LhlS6V2rbkt3HRj5hz1lBB8.woff) format('woff');
}

@font-face {
  font-family: 'PeaxDrawnIcons';
  font-style: normal;
  font-weight: 400;
  src: local('Peax Drawn Icons'), local('PeaxDrawnIcons'), url(../sitestatic/fonts/PeaxDrawnIcons.ttf) format('ttf');
}

@font-face {
  font-family: 'SketchIconsBold';
  font-style: normal;
  font-weight: 400;
  src: local('Sketch Icons Bold'), local('SketchIconsBold'), url(../sitestatic/fonts/Sketch Icons Bold.ttf) format('ttf');
}

.app-wrapper {
	position: relative;
	background-color: #62c004;
	height: 675px;
	width: 1200px;
	border-style: solid;
	border-color: #62c004;
	border-width: 5px;
	border-radius: 15px;
	margin: 0 auto;
}

/* MAIN APP WINDOW */

.window {
	border-color: white;
	border-width: 1px;
	border-style: solid;
	height: 570;
	width: 950;
	background-color: #fffefe;
	border-radius: 15px;
}

/**************************************/
/* MAIN APP WINDOW , VIDEO COMPONENTS */
/**************************************/

    #video_frame {
    	position: absolute;
    	left: 0px;
    	top: 0px;
    	right: 248;
    	bottom: 103;
    	border-style: none;
    	text-align: center;
    	border-radius: 15px;
    }
    
    #replay {
    	position: absolute;
    	left: 0px;
    	top: 0px;
    	width: 100%;
    	height: 100%;
        background-position: center center;
    }
    
    .overlay-frame {
        /*-o-object-fit: fill;*/
        height: 100%;
        /*width: 100%;*/
        opacity: .3;
    	border-radius: 15px;
    }
    
    #camera {
    	/*position: absolute;*/
    	top: 0px;
    	height: 100%;
    	/*width: 100%;*/
    	left: 0;
    	/*-o-object-fit: fill;*/
    	border-radius: 15px;
    }
    
    .playback-frame {
        /*-o-object-fit: fill;*/
        height: 100%;
        /*width: 100%;*/
    }
    
    .canvas-container {
        width: 950px;
        height: 570px;
    }

/*********************/
/**** BOTTOM MENU ****/
/*********************/

    .bottom-menu {
    	border-color: white;
    	border-style: solid;
    	bottom: 0px;
    	margin-top: 6px;
    	height: 95;
    	width: 950;
    	border-width: 1px;
    	background-color: #fffefe;
    	border-radius: 15px;
    }
    
    /* PLAY RECORD TOGGLE */
    
    #toggle {
    	position: relative;
    	left: 0px;
    	top: 0px;
    	height: 100%;
    	width: 120px;
    }
    
    #play_mode {
    	/*background-image: url(../images/play.png);
    	background-repeat: no-repeat;
    	background-size: 100%;*/
    	top: -3px;
    	left: 10px;
    	position: absolute;
    	cursor: pointer;
    	/*margin: -1em;*/
    	font-family: 'PeaxDrawnIcons'
    }
    
    #record_mode {
    	/*background-image: url(../images/camera.png);
    	background-repeat: no-repeat;
    	background-size: 100%;*/
    	bottom: 0px;
    	right: 0px;
    	position: absolute;
    	cursor: pointer;
    	font-family: 'PeaxDrawnIcons';
    }
    
    #toggle .small {
    	/*position: absolute;
    	height: 15%;
    	width: 15%;*/
    	font-size: 1.5em;
    }
    
    #toggle .big {
    	/*position: absolute;
    	height: 50%;
    	width: 50%;*/
    	font-size: 6em;
    }
    
    #video_output {
        border-right-color: #c0c0c0;
        border-left-color: #bfbfbf;
        border-right-style: solid;
        border-left-style: solid;
        border-right-width: 1px;
        border-left-width: 1px;
        overflow-x: scroll;
        white-space: nowrap;
        max-height: 97px;
        left: 130px;
        right: 330px;
        top: 578px;
        position: absolute;
        margin: 0px;
    	padding: 0px 2px;
    }
    
    #video_output canvas {
        cursor: hand;
        padding: 2px 1px 2px 1px;
        height: 93px;
    	border-radius: 15px;
    	display: inline-block;
    }
    
    #video_output canvas :dragged {
        cursor: move;
        height: 93px;
        width: 129px;
    }
    
    #video_output .sortable-placeholder {
        border: 1px #62c004;
        border-style: dashed;
        background-color: rgba(0, 0, 0, .2);
        /*display: inline-block;*/
        height: 91px;
        width: 122px;
    	display: inline-block;
        border-radius: 15px;
        margin: 2px 1px 2px 1px;
    }
    
    #trash {
        top: 578px;
        right: 249px;
        position: absolute;
        height: 97px;
        width: 70px;
    	font-family: 'PeaxDrawnIcons';
    	font-size: 6em;
    	text-align: center;
        /*background: url('../images/trash.png') no-repeat center;*/
    }
    
    #trash .sortable-placeholder {
        border-color: #62c004;
        border-width: 1px;
        border-style: dashed;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0px;
        right: -1px;
        position: absolute;
        height: 94px;
        width: 79px;
        border-radius: 0px 15px 15px 0px;
    }


.right-menu {
	font-size: large;
	font-family: "Averia Sans Libre", Helvetica;
	border-color: white;
	border-style: solid;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 658;
	width: 240;
	border-width: 1px;
	background-color: #fffefe;
	border-radius: 15px;
	padding-top: 15px;
}

.menu_button {
	visibility: visible;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: solid;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	width: 100%;
	cursor:pointer;
	background-opacity: 0;
}

.menu_button:hover {
	background-color: #e0e0e0;
	visibility: visible;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: solid;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	width: 100%;
	cursor:pointer;
	background-opacity: 0;
}

body {
	background-color: #23374b;
}

