.wrapper {
	height: 506px;
	width: 745px;
}

/* MAIN APP WINDOW */

.window {
	height: 420;
	width: 561;
}

#camera {
    width: 565;
}

#video_frame {
    height: 422;
}

/*********************/
/**** BOTTOM MENU ****/
/*********************/

.bottom-menu {
    width: 555;
    height: 75;
}

#video_output {
    top: 429px;
    max-height: 77px;
    left: 100px;
    right: 260px;
}

#video_output canvas {
    height: 72px;
}

#video_output canvas :dragged {
    height: 76px;
    width: 98px;
}

#video_output .sortable-placeholder {
    height: 68px;
    width: 94px;
}

#trash {
    top: 429px; 
    right: 190px;
    height: 75px;
	font-size: 4.5em;
    width: 68px;
}

#trash .sortable-placeholder {
    height: 73px;
    width: 70px;
    top: 1px;
    right: -1px;
}

#toggle {
    width: 95px;
}

#toggle .small {
	width: 23px;
	height: 23px;
}

#toggle .big {
	width: 58px;
	height: 58px;
}
    
/**********************/
/***** RIGHT MENU *****/
/**********************/

.right-menu {
	height: 498;
    width: 175;
}