<!Doctype html>
<html lang="en">
<head>
	<title>SiMSAM</title>
        <meta charset="UTF-8" />
    
	<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/homepage.css">

</head>

<body>

    <div class="wrapper"> 
       <div class="window">
            <h1 class="greeting"> About SiMSAM</h1>
            
            SiMSAM stands for <b>Si</b>mulation, <b>M</b>easurement, and <b>S</b>top <b>A</b>ction <b>M</b>oviemaking.<br>
            It is developed as part of the <a href="http://sites.tufts.edu/simsam">SiMSAM Project</a>, NSF #IIS-1217100.<br>
            <br><br><br>
            Eventually there will be <a href="#">links</a> to <a href="#">videos</a> here, maybe with thumbnails.
            <br><br><br><br>
            
            <div class="smallinfo">
                SiMSAM v. 1.0.0-beta<br>
                &copy; 2014 <a href="http://extech.tufts.edu">Expressive Technologies Lab</a>
                <br>(Michelle Wilkerson-Jerde and Brian Gravel)<br>
                <br>
                Contributions by Geisel Software, Christopher Macrander, Michelle Wilkerson-Jerde, Brian Gravel, <br>
                Amanda Bell, Margot Krouwer, Caroline S., Yara Shaban, Mirjana Hotomski.<br>
                <br>
                SiMSAM comes with ABSOLUTELY NO WARRANTY; <a href="#">click here</a> for details.<br>
                This is free software, and you are welcome to redistribute it<br>
                under certain conditions; <a href="#">click here</a> for details.
            </div>
        </div>
    </div>
    <div id="home_button" onclick="window.location = '/'"><img class="icon" src="../static/images/newicons/home.png"></div>
    <div class="title">SiMSAM</div>
    <div id="help_button" onclick="window.location = 'about/'"><img class="icon" src="../static/images/newicons/help.png"></div></div>
</body>
</html>