<html lang="en">
<head>

    <title>{{ project_name }} - SiMSAM</title>
    <meta charset="UTF-8" />

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.touch.js"></script>
    <script src="{{ STATIC_URL }}js/html5sortable.js"></script>
    <script src="{{ STATIC_URL }}js/html5support.js"></script>

    <!-- hammer is used to detect touches during cropping -->
    <script src="{{ STATIC_URL }}js/hammer.min.js"></script>
    
    <!-- sparklines for graphs -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    
    <!-- detect size of screen and update stylesheet -->
    <script src="{{ STATIC_URL }}js/resolution.js"></script>

    <script src="{{ STATIC_URL }}js/cropTool.js"></script>
    <script src="{{ STATIC_URL }}js/Fabric.js"></script>
    <script src="{{ STATIC_URL }}js/tracker.js"></script>
    <script src="{{ STATIC_URL }}js/sprite.js"></script>
    <script src="{{ STATIC_URL }}js/simlite.js"></script>
    <script src="{{ STATIC_URL }}js/samlite.js"></script>
    
    <!-- This is the base stylesheet -->
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/app.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/simsam_shared.css' />
    <!-- This stylesheet adjusts size based on browser size as determined in resolution.js -->
	<link id="size-stylesheet" rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/simsam_narrow.css' />
	
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">



    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/jenny.css' />


    <script type="text/javascript">
      window.onload = function () {
        window.animationId = {{ animation_id }};
		window.simulationId = {{ simulation_id }};
  			window.framesequence = [{% for frame in frame_sequence %}"{{ frame|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}];
  			window.projectId = {{ project_id }};
  			window.spritecollection = [{% for sprite in sprite_collection %}"{{ sprite|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}];
			
  			var cameraMode = true;
        initSam();
        initSim();
      };
        
      var simRunning = false;
        
      toggleSim = function() {
        if( !simRunning ) {
          if( interval = setInterval('tick()',1000) ) { simRunning = true; }
		  $('#run').html('Stop');
        } else {
          clearInterval(interval);
          simRunning = false;
		  $('#run').html('Run');
        }
      }
    // Fix for Fabric.js 1.2.9 - Issue #781
    $('#wholescreen').scroll(function(){
    	canvas.calcOffset();
    });
    </script>
</head>
<!-- 16:9 aspect ratio -->
<!-- size 1, 1200 x 675 and larger -->
<!-- size 2, 1000 x 562 -->
<!-- 900 x 506? -->
<!-- size 3, 700 x 450 -->
<!-- right menu 1/5, bottom menu 1/7 -->
    <body>
    {% if user.is_authenticated %}
        <div class="wrapper">
            
            <!-- MAIN WINDOW -->
            <div class="window" id="construction_frame">
                <canvas id="container"></canvas>
                <div id="video_frame">
                    <video id="camera"></video>
                    <div id="replay"></div>
                    <!-- is this allowed? attempting… -->
                </div>
            </div>
            
            <!-- RIGHT MENU -->
            <div class="right-menu">
                <div id="menu_options">
              		<div id="switch_button">
              			<div class="menu_button" id="switch_to_sim_button" style="border-top: none;">Make Simulation</div>
              			<div class="menu_button" id="switch_to_sam_button" style="border-top: none;">Make Animation</div>
              		</div>
              		    <div id="crop_buttons">
                        <div class="menu_button" id="startcropping" onclick="cropCanvas()">Start Cropping</div>
                        <div class="menu_button" id="savecrop" onclick="getResults()">Save Crop</div>
                        <div class="menu_button" id="cancelcrop" onclick="deleteRect()">Cancel Crop</div>
                	</div>
            
                	<div id="sim_buttons" style="display:none;">
                		<div class="menu_button" onclick="tick()">One Step</div>
                		<div id="run" class="menu_button" onclick="toggleSim()">Run</div>
                        <div id="clear" class="menu_button" onclick="clearTrackers()">Clear</div>
                	</div>
            	  <!-- Selected Chooser -->
            	  <div id="selected" >
            		  <h3>Modify Sprite</h3>
            		  <div id="uise_del" class="menu_button">Delete</div>
            		  <div id="uise_delall" class="menu_button">Delete All</div>
            	  </div>
            	  <!-- Modifying Chooser -->
            	  <div id="modifying" >
            		  <div id="uimod_rand" class="menu_button">Randomize</div>
            		  <div id="uimod_clone" class="menu_button">Clone</div>
                      <div id="uimod_sprout" class="menu_button">Sprout</div>
            	  </div>
                </div>
                <div id="sprite_drawer">
              	 <div id="trash_menu_button" class="floating_button"> 
              	 trash sprite class 
              	 </div>
                </div>
            	
            </div>
            
            <!-- BOTTOM MENU -->
            <div class="bottom-menu">
                <div id="video_bottom">
            		<div id="toggle">
            			<div id="play_mode" class="big"><img class="icon" src="static/images/newicons/play.png"></div>
            			<div id="record_mode" class="small"><img class="icon" src="static/images/newicons/camera.png"></div>
            		</div>
            		<div id="video_output"><!-- filmstrip--></div>
            		<div id="trash"><img class="icon" src="static/images/newicons/trash.png"></div>
            	</div> <!-- video_bottom -->
            	<div class="sim_bottom">
            		<div class="sim_buttons">
            			<p style="clear: both;">Counters</p>
            			<div id="iact_toggle">
            			</div>
            			<div id="counts">
            			</div>
            			<div id="count_blocker">Please select interaction target</div>
            		</div>
            		<div class="sim_charts">
            			<p style="clear: both;">Charts</p>
            			<div id="iact_chart"></div>
            			<div id="count_chart"></div>
            		</div>
            	</div>
            	<!--<a href="" id="sim_min" class="close" style="display: none;">_</a>-->
            </div>
        </div>
    <!-- secret speed slider -->
    <input type="hidden" id="fps" value="10">
    
<!-- Interaction Chooser -->
    <div id="interactions" class="simui ui-backround">
        <div class="animation-head"><h4>Animation Menu</h4>
            <a id ="uich_close" class="uich" href="#">
	        <span class="close-btn" style="margin-top:-20px; margin-right:-5px;"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
	    </a>
        </div>
	<div class="container">

      <h3>Action</h3>
      <ul>
    	  <li><a id="uich_trans" class="uich" href="#">Translate</a></li>
    	  <li><a id="uich_clone" class="uich" href="#">Clone</a></li>
    	  <li><a id="uich_delete" class="uich" href="#">Delete</a></li>
      </ul>
      </div>
    </div>

<!-- Random Range Slider -->
    <div id="random-range" class="ui-background">
        <div class="animation-head"><h4>Animation Menu</h4>
            <a href="#" onclick="randomSliderHide();">
	        <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
	    </a>
        </div>
	<div class="container">
            <h3>Range</h3>
            <div id="randomslider"></div>
        </div>
        <div id="random-ui">
            <canvas id="random-arc"></canvas>
        </div>
    </div>
    
<!-- Clone -->
    <div id="clone-ui" class="ui-hover ui-background">
	<div class="animation-head"><h4>Animation Menu</h4>
            <a href="#" onclick="cloneWidgetHide();">
	        <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
	    </a>
        </div>
	<div class="container">
            <h3>Clone</h3>

            <a class="op-btn" id="clone-minus" href="#">-</a>
            <div id="clone-data" data-value="100">100%</div>
            <a class="op-btn" id="clone-plus" href="#">+</a>
        </div>
    </div>

    <div id="sprout-ui" class="ui-hover">
        <p>Sprout-ui</p>
    </div>

    <div id="dialog-confirm" title="Delete this object?">
      <p><span class="ui-icon ui-icon-alert" style="float: left; margin:0 7px 20px 0;"></span><span id="message-text">This item will be permanently deleted.  Are you sure?</span></p>
    </div>
    
    <!-- END INTERFACE PANELS -->
    
    <!-- PERSISTENT FLOATING ICONS HERE -->
    <div id="home_button" onclick="window.location = '/'"><img class="icon" src="static/images/newicons/home.png"></div>
    <div class="title">SiMSAM</div>
    <div id="help_button" onclick="window.location = 'about/'"><img class="icon" src="static/images/newicons/help.png"></div></div>
    <a href="#" id="save"></a>
    <a href="#" id="load"></a>
    <!-- END FLOATING ICONS -->
    
    <!-- JUST SO IT DOESN'T CRY ABOUT MISSING ELEMENTS -->
    <!-- THEY WILL NEED TO BE INTEGRATED/CONVERTED SOON-->
    
    <!--<input type="text" id="playback_index">-->
    <input type="hidden" id="fps" value="10">
    
    <div id="data"></div>
        
    {% endif %}
    </body>
</html>
