<html lang="en">
<head>

    <title>{{ project_name }} - SiMSAM</title>
    <meta charset="UTF-8" />

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.touch.js"></script>
    <script src="{{ STATIC_URL }}js/html5sortable.js"></script>
    <script src="{{ STATIC_URL }}js/html5support.js"></script>

    <!-- hammer is used to detect touches during cropping -->
    <script src="{{ STATIC_URL }}js/hammer.min.js"></script>
    
    <!-- sparklines for graphs -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script> -->
    <script src="{{ STATIC_URL }}js/jquery.sparkline.min.js"></script>
    
    <!-- detect size of screen and update stylesheet -->
    <script src="{{ STATIC_URL }}js/resolution.js"></script>

    <script src="{{ STATIC_URL }}js/cropTool.js"></script>
    <script src="{{ STATIC_URL }}js/Fabric.js"></script>
    <script src="{{ STATIC_URL }}js/tracker.js"></script>
    <script src="{{ STATIC_URL }}js/text.js"></script>
    <script src="{{ STATIC_URL }}js/sprite.js"></script>
    <script src="{{ STATIC_URL }}js/simlite.js"></script>
    <script src="{{ STATIC_URL }}js/samlite.js"></script>
    
    <!-- This is the base stylesheet -->
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/app.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/simsam_shared.css' />
    <!-- This stylesheet adjusts size based on browser size as determined in resolution.js -->
	<link id="size-stylesheet" rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/simsam_narrow.css' />
	
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">



    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/widgets.css' />


    <script type="text/javascript">
      window.onload = function () {
        window.animationId = {{ animation_id }};
		window.simulationId = {{ simulation_id }};
  			window.framesequence = [{% for frame in frame_sequence %}"{{ frame|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}];
  			window.projectId = {{ project_id }};
  			window.spritecollection = [{% for sprite in sprite_collection %}"{{ sprite|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}];
			
  			var cameraMode = true;
        initSam();
        initSim();
      };
        
	 function addSimSam(){
		 console.log('It appears that you have nothing in your drawer. Have a Sam.');
		 var simsamimage = new Image();
		 simsamimage.src = "/media/sprites/moving3-4.jpg";
         simsamimage.className = 'sprite';
         simsamimage.setAttribute('data-hash', 'moving3-4');
         simsamimage.setAttribute('data-sprite-type', 0);
         simsamimage.setAttribute('data-debug', 'addSimSam');
		 var spritedrawer =  $("#sprite_drawer").get(0);
		 spritedrawer.appendChild(simsamimage);
		 window.addOneSprite(0, simsamimage);
		 //$("#sprite_drawer").sortable("refresh");
		 var ajaxOptions;
		 ajaxOptions = {
		 	 url: "save_image_only",
			 type: "POST",
			 data: {
				image_string: "moving3-4",
				image_type: "Sprite",
				animation_id: window.animationId
			 },
			 dataType: "json"
		 };
		 $.ajax(ajaxOptions);
	 }
		
		function killSimSam(){
			console.log('It appears that you want me to kill Sam. Here goes.');
			deleteImageFullyWithoutAsking(0, $('#sprite_drawer > img[src="/media/sprites/moving3-4.jpg"]'));
            window.save();
		}
		
      var simRunning = false;
        
      toggleSim = function() {
        if( !simRunning ) {
          if( interval = setInterval('tick()',1000) ) { simRunning = true; }
		  //$('#run').html('Stop');
		  $('#run').css("background-position", "-275px 3px");
        } else {
          clearInterval(interval);
          simRunning = false;
		  //$('#run').html('Run');
		  $('#run').css("background-position", "-331px 3px");
        }
      }
    // Fix for Fabric.js 1.2.9 - Issue #781
    $('#wholescreen').scroll(function(){
    	canvas.calcOffset();
    });
    </script>
</head>
<!-- 16:9 aspect ratio -->
<!-- size 1, 1200 x 675 and larger -->
<!-- size 2, 1000 x 562 -->
<!-- 900 x 506? -->
<!-- size 3, 700 x 450 -->
<!-- right menu 1/5, bottom menu 1/7 -->
    <body>
    {% if user.is_authenticated %}
        <div class="wrapper">
            
            <!-- MAIN WINDOW -->
            <div class="window" id="construction_frame">
                <canvas id="container"></canvas>
                <div id="video_frame">
                    <video id="camera"></video>
                    <div id="replay"></div>
                    <!-- is this allowed? attempting… -->
                </div>
            </div>
            
            <!-- RIGHT MENU -->
            <div class="right-menu">
                <div id="menu_options">
              		<div id="switch_button">
              			<div class="menu_button" id="switch_to_sim_button" style="border-top: none;">Make Simulation</div>
              			<div class="menu_button" id="switch_to_sam_button" style="border-top: none;">Make Animation</div>
              		</div>
              		<div id="crop_buttons">
                        <div class="menu_button" id="startcropping" onclick="cropCanvas()">Start Cropping</div>
                        <div class="menu_button" id="savecrop" onclick="getResults()">Save Crop</div>
                        <div class="menu_button" id="cancelcrop" onclick="deleteRect()">Cancel Crop</div>
                	</div>
            	  <!-- Selected Chooser -->
                  <!-- TODO Remove this div, we don't use it anymore -->
            	  <div id="selected" >
            		  <h3>Modify Sprite</h3>
            		  <div id="uise_del" class="menu_button">Delete</div>
            		  <div style="display: none; /* only hide to preserve functionality for future if needed */" id="uise_delall" class="menu_button">Delete All</div>
            	  </div>
                </div>
                <div id="sprite_drawer">
              	 <div id="trash_menu_button" class="floating_button"> 
              	 trash sprite class 
              	 </div>
                </div>
            	
            </div>
            
            <!-- BOTTOM MENU -->
            <div class="bottom-menu">
                <div id="video_bottom">
            		<div id="toggle">
            			<div id="play_mode" class="big"><img class="icon" src="static/images/newicons/play.png"></div>
            			<div id="record_mode" class="small"><img class="icon" src="static/images/newicons/camera.png"></div>
            		</div>
            		<div id="video_output"><!-- filmstrip--></div>
            		<div id="trash"><img class="icon" src="static/images/newicons/trash.png"></div>
            	</div> <!-- video_bottom -->
				<div class="sim_bottom">
					<div class="play_buttons" id="sim_buttons" style="display:none;">
						<div id="step" title="Step" onclick="tick()"></div>
						<div id="run" title="Run" onclick="toggleSim()"></div>
						<div id="clear" title="Clear" onclick="clearTrackers()"></div>
						<div id="saveas" title="Save" onclick="saveasBeginEditing();">S</div>
						<div id="loadstate" title="Load" onclick="listBeginEditing();">L</div>
					</div>
                    <div id="sim_tools" class="sim_buttons">
                        <div id="text_tool" onclick="toolTextClick();"></div>
                    </div>
                    <div id="sim_status" class="sim_buttons">
            			<p id="record-type" style="clear: both;">Not Recording</p>
                        <div id="record_status"></div>
                    </div>
            		<div class="sim_buttons">
            			<p style="clear: both;">Counters</p>
            			<div id="iact_toggle">
            			</div>
            			<div id="counts">
            			</div>
                        <!-- <div id="count_blocker">Please select interaction target</div> -->
            		</div>
            		<div class="sim_charts">
            			<p style="clear: both;">Charts</p>
            			<div id="iact_chart"></div>
            			<div id="count_chart"></div>
            		</div>
            	</div>
            	<!--<a href="" id="sim_min" class="close" style="display: none;">_</a>-->
            </div>
        </div>
    <!-- secret speed slider -->
    <input type="hidden" id="fps" value="10">

<!-- Begin floating windows section -->

<div id="count_blocker"></div>
    
<!-- Interaction Chooser -->
    <div id="interactions" class="simui ui-backround">
        <div class="animation-head"><h4>Interaction Menu</h4>
            <a id ="uich_close" class="uich" href="#">
                <span class="close-btn" style="margin-top:-20px; margin-right:-5px;"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
            </a>
        </div>
        <div class="container">

            <h3>Action</h3>
            <ul>
                <li><a id="uich_trans" class="uich" href="#">Translate</a></li>
                <li><a id="uich_clone" class="uich" href="#">Clone</a></li>
                <li><a id="uich_delete" class="uich" href="#">Delete</a></li>
            </ul>
        </div>
    </div> <!-- #interactions -->

    <!-- Modifying Chooser -->
    <div id="modifying" class="ui-background simui">
        <div class="animation-head" unselectable="on">
            <h4 unselectable="on">Individual Actions</h4>
            <a href="#" onclick="modifyingCancel();">
                <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
            </a>
        </div>
        <ul>
            <li><a id="uimod_rand" >Randomize</a></li>
            <li><a id="uimod_clone" >Clone</a></li>
            <li><a id="uimod_sprout">Sprout</a></li>
        </ul>
    </div>

    <div id="select-action" class="ui-background simui">
        <div class="animation-head" unselectable="on">
            <h4 unselectable="on">Programming Options</h4>
            <a href="#" onclick="selectActionCancel();">
                <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
            </a>
        </div>
        <ul>
            <li><a id="select-delete" >Delete Object</a></li>
            <li><a id="select-behavior" >Program Behavior</a></li>
            <li><a id="select-interaction">Interaction Behavior</a></li>
        </ul>

    </div>
    <!-- Multi Delete -->
    <div id="multi-delete" class="ui-background simui">
        <div class="animation-head" unselectable="on">
            <h4 unselectable="on">Delete Objects</h4>
            <a href="#" onclick="multiDeleteCancel();">
                <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
            </a>
        </div>
        <ul>
            <li><a onclick="multiDeleteExecute();">Delete Selected</a></li>
        </ul>
    </div>

<!-- Random Range Slider -->
    <div id="random-range" class="ui-background">
        <div class="animation-head"><h4>Random Range Value</h4>
            <a href="#" onclick="randomSliderHide();">
	        <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
	    </a>
        </div>
	<div class="container">
            <h3>Range</h3>
            <div id="randomslider"></div>
        </div>
        <div id="random-ui">
            <canvas id="random-arc"></canvas>
        </div>
    </div>
    
<!-- Clone -->
    <div id="clone-ui" class="ui-hover ui-background">
	<div class="animation-head"><h4>Frequency Setting</h4>
        <a href="#" onclick="cloneWidgetHide();">
            <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
        </a>
    </div>
	<div class="container">
            <h3 id="clone-name">Clone</h3>

            <a class="op-btn" id="clone-minus" href="#">-</a>
            <div id="clone-data" data-value="100">100%</div>
            <a class="op-btn" id="clone-plus" href="#">+</a>
        </div>
    </div>

    <div id="sprout-ui" class="ui-hover object-select">
        <p>Sprout-ui</p>
    </div>

    <div id="interaction-ui" class="ui-hover object-select">
        <p>interaction-ui</p>
    </div>

    <div id="dialog-confirm" title="Delete this object?">
      <p><span class="ui-icon ui-icon-alert" style="float: left; margin:0 7px 20px 0;"></span><span id="message-text">This item will be permanently deleted.  Are you sure?</span></p>
    </div>

    <div id="text-modify" class="ui-background textbox" >
	<div class="animation-head"><h4>Set Text</h4>
        <a href="#" onclick="textEditCancel();">
            <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
        </a>
    </div>
    <div>
        <input id="text-alter-field" />
    </div>
    <div class="text-buttons">
        <a class="text-cancel" href="#" onclick="textEditCancel();">Cancel</a>
        <a class="text-set" href="#" onclick="textEditSet();">Set</a>
    </div>
    </div>

    <!-- SaveAs Textbox -->
    <div id="saveas-name" class="ui-background textbox" >
	<div class="animation-head"><h4>Save Simulation As...</h4>
        <a href="#" onclick="saveAsCancel();">
            <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
        </a>
    </div>
    <div>
        <input id="saveas-alter-field" />
    </div>
    <div class="text-buttons">
        <a class="text-cancel" href="#" onclick="saveAsCancel();">Cancel</a>
        <a class="text-set" href="#" onclick="saveAsEditSet();">Set</a>
    </div>
    </div>

    <!-- Load File List Textbox -->
    <div id="list-states" class="ui-background textbox" >
	<div class="animation-head"><h4>Load Simulation</h4>
        <a href="#" onclick="listCancel();">
            <span class="close-btn"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></span>
        </a>
    </div>
    <div id="list-text-list" class="text-list">
    </div>
    <div class="text-buttons">
        <a class="text-cancel" href="#" onclick="listCancel();">Cancel</a>
        <!-- <a class="text-set" href="#" onclick="listEditSet();">Load</a> -->
    </div>
    </div>
    
    <!-- END INTERFACE PANELS -->
    
    <!-- PERSISTENT FLOATING ICONS HERE -->
    <div id="home_button" unselectable="on" onclick="window.location = '/'"><img class="icon" src="static/images/newicons/home.png"></div>
    <div class="title">SiMSAM</div>
    <div id="help_button" onclick="window.location = 'about/'"><img class="icon" src="static/images/newicons/help.png"></div></div>
<!--
    <a href="#" id="save"></a>
    <a href="#" id="load"></a>
    -->

    <div id="saved" class="save_status">
        <h2>State Saved</h2>
    </div>
    <div id="canceled" class="save_status">
        <h2>Programming Canceled</h2>
    </div>
    <!-- END FLOATING ICONS -->
    
    <!-- JUST SO IT DOESN'T CRY ABOUT MISSING ELEMENTS -->
    <!-- THEY WILL NEED TO BE INTEGRATED/CONVERTED SOON-->
    
    <!--<input type="text" id="playback_index">-->
    <input type="hidden" id="fps" value="10">
    
    <div id="data"></div>
        
    {% endif %}
    </body>
</html>
