<!Doctype html>
<html lang="en">
<head>

    <title>{{ project_name }}</title>
    <meta charset="UTF-8" />

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/html5sortable.js"></script>
    <script src="{{ STATIC_URL }}js/html5support.js"></script>
    <script src="{{ STATIC_URL }}js/hammer.min.js"></script>

    <!--<script src="{{ STATIC_URL }}js/simlite.js"></script>-->
    <script src="{{ STATIC_URL }}js/kinetic.js"></script>
    <script src="{{ STATIC_URL }}js/cropTool.js"></script>
    <script src="{{ STATIC_URL }}js/sprite.js"></script>
    <script src="{{ STATIC_URL }}js/samlite.js"></script>
    

    <link rel="stylesheet" href="{{ STATIC_URL }}css/samlite.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/iphone-style-checkboxes.css">

    <script type="text/javascript">
        window.animationId = {{ animation_id }};
				window.framesequence = [{% for frame in frame_sequence %}"{{ frame|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}];
				window.projectId = {{ project_id }};
				window.spritecollection = [{% for sprite in sprite_collection %}"{{ sprite|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}];
				
				var cameraMode = true;
				/*
				function changeMode() {
					if( cameraMode ) {
						
					}
					else {
					
					}
				}
				*/
				
    			window.onload = function() {
            stage = new Kinetic.Stage({
                container: 'container',
                width: 1000,
                height: 800
            });
            layer = new Kinetic.Layer();
            init();
            tick();
          };
        </script>
    

</head>
<body>
<!-- only display this if the user is logged in -->

{% if user.is_authenticated %}


<div id="wholescreen">
  <!-- INTERFACE PANELS HERE -->
  <div id="construction_frame">
  	<div id="container"></div>
  	<div id="video_frame">
  		<video id="camera"></video>
  		<div id="replay"></div>
  		 <!-- is this allowed? attempting… -->
  	</div>
  	<div id="bottom_frame" class="frame">
  		<div id="toggle">
  			<div id="play_mode" class="big"></div>
  			<div id="record_mode" class="small"></div>
  		</div>
  		<div id="video_output"><!-- filmstrip--></div>
  		<div id="trash"></div>
  	</div>
  </div>
  <div id="right_frame" class="frame">
  	<div id="menu_options">
  		<div id="switch_button">
  			<div class="menu_button" id="simbutton" style="border-top: none;">Make Simulation</div>
  			<div class="menu_button" id="sambutton" style="border-top: none;">Make Animation</div>
  		</div>
  		<div id="crop_buttons">
        <div class="menu_button" id="startcropping" onclick="cropCanvas()">Start Cropping</div>
				<div class="menu_button" id="savecrop" onclick="getResults()">Save Crop</div>
				<div class="menu_button" id="cancelcrop" onclick="deleteRect()">Cancel Crop</div>
    	</div>
  	</div>
  	<div id="sprite_drawer"></div>
  </div>
  <!-- END INTERFACE PANELS -->
  
  <!-- PERSISTENT FLOATING ICONS HERE -->
  <form action="openproject" method="post">
	<input type="submit" value="" id="home_button" class="floating_button" />
  </form>
  <div id="right_menu_button" class="floating_button"></div>
  <!-- END FLOATING ICONS -->
</div>

<!-- JUST SO IT DOESN'T CRY ABOUT MISSING ELEMENTS -->
<!-- THEY WILL NEED TO BE INTEGRATED/CONVERTED SOON-->

<input type="text" id="playback_index">
<input type="hidden" id="fps" value="10">
  
{% endif %}

</body>
</html>
