<!Doctype html>
<html lang="en">
<head>
    <title>Sam Lite</title>
    <meta charset="UTF-8" />
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<!--
    <script src="{{ STATIC_URL }}js/html5sortable.js"></script>
    <script src="{{ STATIC_URL }}js/iphone-style-checkboxes.js"></script>
    <script src="{{ STATIC_URL }}js/html5support.js"></script>
    <script src="{{ STATIC_URL }}js/samlite.js"></script>
    <script src="{{ STATIC_URL }}js/crop.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/samlite.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/iphone-style-checkboxes.css">
-->
    <script type="text/javascript">
        $("#button").button();
    </script>
    
</head>
<body>
    <button id="button">the button</button>
</body>
</html>
